div(class="contact-list container")
    each contact in contacts
        div(class="contact-item row")
            div(class="col-sm") #{contact.lastName},&nbsp;#{contact.firstName}
            //-div(class="col-sm") #{contact.birthDate}
