div(class="contact-list container")
    each contact in contacts
        div(class="contact-item row")
            - 
                var birthDate = moment(contact.birthDate).utc();
                var oneMonthFromNow = moment() + moment.duration(1, "month")
                var nextBirthDay = moment().month(birthDate.month()).date(birthDate.date())
                if (moment() > nextBirthday)
                    nextBirthday.year(moment().year() + 1);
                var classes = ['col-sm'];
                if (nextBirthDay > moment.now() && nextBirthDay < oneMonthFromNow) {
                     classes.push('emphasis') 
                }
            div(class=classes) #{contact.firstName}&nbsp;#{contact.lastName}
            div(class=classes)= nextBirthDay.format('MMM DD')
