form(method='POST' action='/contacts')
    div(class="form-row")
        div(class="col")
            input(type="text" class="form-control" name="firstName" placeholder="First name" required)
        div(class="col")
            input(type="text" class="form-control" name="lastName" placeholder="Last name" required)
        div(class="col")
            input(type="date" class="form-control" name="birthDate" required)
        div(class="col")
            button(type="submit" class="btn btn-primary") Add
